@import "./colors.scss";
.details {
    margin-top: 2rem;
    .details-left {
        .buttons {
            .freebtn {
                background-color: #3a3f44;
                outline: none;
                border: none;
                padding: 0.3rem 1rem;
                color: $pure;
                border-radius: 0.3rem;
            }
            .playnowbtn {
                background-color: $primary;
                color: $pure;
            }
        }
    }
}
